.card{
    color: #ffffff;
    background-color: #282c34;
    border-color: #333232;
    border-radius: 10px;
    border-style:groove;
    margin: 2rem;
    height: 27rem;
    font-family:'Roboto Condensed', sans-serif;
    box-shadow: #1b1b1d 0px 0px 10px 0px;
}
.go-btn{
    background-color: 
    #212529;
    color: #ffffff;
}
.go-btn:hover{
    background-color: #3a3b3b;
    color: #ffffff;
}